ion-content {
    --background: #404041;
    --color: #fff;
}

.logo-text {
    font-family: 'Iceberg', sans-serif;
    font-size: 70px;
}

.start-btn {
    margin: 100px;
}

.figma-btn a {
    color: #fff;
    text-decoration: none;
}