/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.title-text {
    font-family: 'Iceberg', sans-serif;
    font-size: 70px;
    margin-bottom: 50px;
}

.total-color {
    color: #36abe0;
}

.score-color {
    color: #fff;
}